/target/

ops/*
etc/*
data/*
# Require JS Config
bower_components/
node/
node_modules/**
src/main/webapp/assets/build/
src/main/webapp/assets/dist/
src/main/webapp/assets/css/
src/main/webapp/assets/less/vendor/
src/main/webapp/assets/js/vendor/
node_modules/bsp-grunt/node_modules/bower/node_modules/promptly/LICENSE
src/main/webapp/META-INF/context.xml
nb-configuration.xml
.classpath
.project
.settings/*

# Intellij
.idea/
*.iml
*.iws
*.class
overlays/
src/main/webapp/assets/styles/css/font-awesome-ie7.min.css
