
// client
//============================

@cardBorder: 1px solid @green-dark-1;
.client-page{
    padding-top: 20px;
}
.client{
    margin-top: @gutter-top;  
}
.card-client{
    .card-base{
        &:extend(.card-base all); 
        border: none;
        height: 200px;
        background: transparent;       

        .card-inner{
            &:extend(.block all);
            &:extend(.block-text-overlay all);   
            background: @white;
            width: auto;
            height: 200px;
            .opacity(1);
            border: @cardBorder;

            .text{
                .opacity(1);
                top: initial;
                margin: 0;
                background-color: @white;
                height: 50px;
                display: table;
                padding: 5px;
                border-top: @cardBorder;
                .title{
                    &:extend(.card-base .text .title);
                    line-height: 18px;
                    display: table-cell;
                    vertical-align: middle;
                    .text-center;
                    color: @green-dark-1;
                }
            }
            .media{
                .opacity(1) !important;      
                img{
                    height: 147px;
                    padding: 10px;
                    .opacity(1) !important;      
                }
            }
            &:hover{
                .text{
                    .opacity(1);                
                    background-color: @green-dark-1;
                    .transition(background ease-out 0.2s);
                    .title{
                        color: @white;
                        .transition(color ease-out 0.2s);
                    }
                }

            }
        }
        &.active{
            .text{
                .opacity(1);                
                background-color: @green-dark-1;
                .transition(background ease-out 0.2s);
                .title{
                    color: @white;
                    .transition(color ease-out 0.2s);
                }
            }
        }
    }
}

