
// client
//============================

@cardBorder: 1px solid @green-dark-1;
.client{
    margin-top: @gutter-top;  
}
.client{
    &-fluid-container{
        .dev-container-fluid;
        background: #2d3237;
        padding-top: 50px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    &-container{
        .dev-container;
        max-width: @container-narrow;
    }
    &-row{
        .make-row(20px);
        position: relative;
        @media @mq-only-mobile{
            .text-center;
        }
    } 
    &-card-outer{
        /*.make-md-column(3, 20px);*/
    }
    &-wrapper{
        margin: 0 auto;
    }
    &-card-outer{
        &:extend(.team-card all); 
        /*.make-sm-column(4, 20px);*/
        .square(220px);
        float: left;
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
        transition: 1s ease;
        @media @mq-only-mobile{
            float: none;
            display: inline-block;
        }
        @media @mq-only-small-mobile{
            /*            width: 320px;
                        display: block;
                        float: none;
                        margin: auto;
                        margin-bottom: 20px;*/
        }
        border: none;
        height: 200px;
        background: transparent;
        .client-card{
            &:extend(.card all); 
            &:extend(.block all);
            &:extend(.block-text-overlay all);   
            background: @white;
            width: auto;
            height: 200px;
            .opacity(1);
            border: @cardBorder;
            .client-desc{
                display: none; 
            }
            .text{
                .opacity(1);
                top: initial;
                margin: 0;
                background-color: @white;
                height: 50px;
                display: table;
                padding: 5px;
                border-top: @cardBorder;
                .client{
                    &:extend(.card .text .team-pos all);
                    line-height: 18px;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    color: @green-dark-1;
                }
            }
            .media{
                .opacity(1) !important;      
                img{
                    height: 147px;
                    padding: 10px;
                    .opacity(1) !important;      
                }
            }
            &:hover{
                .text{
                    .opacity(1);                
                    background-color: @green-dark-1;
                    .transition(background ease-out 0.2s);
                    .client{
                        color: @white;
                        .transition(color ease-out 0.2s);
                    }
                }

            }
        }
        &.active{
            .text{
                .opacity(1);                
                background-color: @green-dark-1;
                .transition(background ease-out 0.2s);
                .client{
                    color: @white;
                    .transition(color ease-out 0.2s);
                }
            }
        }

    }

}

.client-desc-row {
    &:extend(.team-desc-row all);
    .desc-title{
        color: @white;
        &:after{
            width: 50px;
            top: 1px;
        }
    }
    .desc-blurb{
        color: @white;
    }
}

.client-list{
    section{
        margin-bottom: @space-double;
        .block-client{
            &-image-wrapper{
                max-width: 300px;
            }
            &-title{
                &:extend(.article-container .title all);
            }
            &-blurb{
                margin-left: @space;
            }
        }
    }

}