
// header
//============================

@staticScrollHeight: @headHeightStatic - 20;

#global-header{
    .dev-container-fluid;
    background: @white;
    .box-shadow(0 3px 7px -2px @gray-light-1-rgba);
    position: fixed;
    width: 100%;
    top: 0;
    height: @headHeightStatic;
    z-index: 999;
    .transition(all ease-out @transition-medium);
    transition: all @transition-short linear;
    &.header-scroll{
        position: fixed;
        height: @staticScrollHeight;
        .main-header-logo{        
            height: @staticScrollHeight;
        }
        .header-nav{        
            li{   
                a{
                    line-height: @staticScrollHeight;
                    .transition(all @transition-short);
                    &.active{
                        &:before{
                            bottom: 15px;
                        }
                    }
                    &:before{
                        bottom: 15px;
                    }
                }
            }
        }
    }
    .main-header-container{
        .dev-container;
        width: 100% !important;
        max-width: @container-large-desktop;
    }
    .main-header-content{
        .dev-row;
    }
    .main-header-inner{
        .dev-column-full;
    }
    #mobile-btn, 
    #mobile-dot,
    #mobile-nav{
        display: none;
    }
    .main-header-logo{        
        position: relative;
        .pull-left;
        padding: @space-half 0;
        height: @headHeightStatic;
        padding: 0;
        transition: all @transition-short linear;
        .logo{
            max-width: 180px;
            height: auto;
            display: block;
            .abs-center;
            transition: all @transition-short linear;
        }
    }

    #global-nav{        
        position: relative;
        .pull-right;
    }
    .header-nav{        
        li{   
            display: inline;
            float: left;
            a{
                &:extend(.lk-underline all);
                margin: 0 @space-and-quarter;
                .text-uppercase;                
                display: block;
                .font-primary;
                .type-scale(1);
                line-height: @headHeight;
                .transition(all @transition-short);
                position: relative;
                &.active{
                    &:before{
                        background-color: @green-light-2; 
                        bottom: @space-and-half;
                    }
                }
                &:before{
                    bottom: @space-and-half;
                }
                &:hover{
                    &:before{
                        background-color: @green-light-2;     
                    }
                }
            }
        }
    }

}

@media @mq-only-mobile {
    #global-header{
        height: @headHeightMobile;        
        .main-header-container{
            padding: 0;
        }
        .main-header-logo{
            .logo{
                max-width: 130px;
            }
        }

        #mobile-btn{
            &.icon-hamburger {
                top: 7px;
                .pull-right;
                display: block;
                position: relative;
                overflow: hidden;
                margin: 0;
                padding: 0;
                .square(40px);
                font-size: 0;
                text-indent: -9999px;
                appearance: none;
                box-shadow: none;
                .border-radius(none);
                border: none;
                cursor: pointer;

                &:focus {
                    outline: none;
                }
                span {
                    display: block;
                    position: absolute;
                    top: 18px;
                    left: 5px;
                    right: 5px;
                    height: 4px;
                    background: @green-dark-1;
                    .transition(background @transition-short);
                    &:after, &:before {
                        position: absolute;
                        display: block;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        background-color: @green-dark-1;
                        content: "";
                    }
                    &:before {
                        top: -10px;
                    }
                    &:after {
                        bottom: -10px;
                    }
                }
                &.icon-hamburger-mobile {
                    background-color: @white;
                    span {
                        .transition(background 0s @transition-short);
                        &:before,&:after {
                            transition-duration: @transition-short, @transition-short;
                            transition-delay: @transition-short, 0s;
                        }
                        &:before {
                            transition-property: top, transform;
                        }
                        &:after {
                            transition-property: bottom, transform;
                        }
                    }
                    &.active {
                        span {
                            background: none;
                            &:before {
                                top: 0;
                                transform: rotate(45deg);
                            }
                            &:after {
                                bottom: 0;
                                transform: rotate(-45deg);
                            }
                            &:before, &:after{
                                transition-delay: 0s, @transition-short;
                                background-color: darken(@green-dark-1,10%);
                            }
                        }
                    }
                }
            }
        }
        #mobile-nav{
            float: none !important;
            -webkit-font-smoothing: antialiased;
            position: fixed;
            top: @headHeightMobile;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            background: @white;
            display: block;
            display: none;
            .footer-dev-details{
                position: absolute;
                bottom: 10px;
                right: 0;
                left: 0;
                text-align: center;
                li{
                    padding: 0 8.75px;
                    .text-uppercase;
                    display: block;
                    .font-primary-light;
                    font-size: 15px;
                    line-height: 30px;
                    max-height: none;
                    .transition(all 0.2s);
                    position: relative;
                    color: @green-dark-1;
                }
            }
            .header-nav{
                li{
                    display: block;
                    float: none;
                    padding-left: 5px;
                    padding-right: 5px;

                }
            }
            .footer-logo{
                position: absolute;
                bottom: 10px;
                left: 10px;
                background-color: @green-dark-1;
                .square(100px);
            }
        }
        #global-nav{
            display: none;
        }

    }



}
