
// team
//============================
@blockGutter: 20px;
.dev-team{
    .pullquote,p{
        margin-left: 0;
    }
}

.team-container{
    .dev-container;
    max-width: @container-narrow;
    margin: auto;
    &:extend(.article-container all);
}
.team-row{
    .make-row(20px);
    position: relative;
} 
.team-card{
    /*.make-sm-column(4, @blockGutter);*/
    &:extend(.block all);
    &:extend(.block-text-overlay all);        
    &:extend(.card all); 
    padding: 0;
    background: @green-dark-1;
    .square(220px);
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    transition: 1s ease;
    &.circle-card{
        &:extend(.circle-card all); 
    }
    .team-desc{
        display: none; 
    }
    .icon-toggle {
        font-size: 36px;
        line-height: 0.5;
        position: absolute;
        bottom: @space;
        right: @space;
        z-index: 1;
        color: @white;        
        .transition(all ease-out 0.15s);
        .text-center;
        vertical-align: middle;
        display: inline-block;
        .square(25px);
        transform-origin: 50% 50%;
    }
    &.active{
        .icon-toggle {
            transform: rotate(45deg)
        }
    }
    .text{
        .team{
            &-pos{
                font-size: 12px;
                letter-spacing: 0.075em;
                .text-uppercase;
                position: relative;
                top: -10px;
            }
            &-name{
                margin: 0 0 5px 0;
                letter-spacing: -0.025em;
            }
        }
    }

}
.team-desc-row {
    padding-left: @space-three-quarter;
    padding-right: @space-three-quarter;
    clear: both;
    overflow: hidden;
    display: block;
    .clearfix();
    .desc-title{
        &:extend(.article-container .title all);
        .type-scale(2);
        @media @mq-only-mobile{
            .type-scale(1);
            line-height: 22px;
            margin-bottom: @space /2;
            &:after{
                top: 0;
            }
        }
        &:after{
            width: 130px;
            position: relative;
            top: 4px;
        }
    }
    p{
        padding-left: @space-double;
        @media @mq-only-mobile{
            .type-scale(1);
            font-size: 15px;
            line-height: 25px;
            padding-left: @space;
        }

    }
    .list-bullet{        
        padding-left: @space-double;
        li{
            .font-primary-light;
            &:before{
                color: @green-dark-1;
            }
        }
        @media @mq-only-mobile{
            padding-left: @space;
            li{
                font-size: 15px;
                line-height: 25px;
                display: block;
                width: 100%;
            }
        }
    }
}

@media @mq-only-mobile{
    .team-row{
        .text-center;
    }
    .team-card{
        display: inline-block;
        float: none;
    }
    .team-desc-row,
    .team-card{
        .text-left;
    }
}