
// team
//============================
@blockGutter: 20px;
.team-page{
    padding-top: 20px;
}

.card-team{
    .card-base{
        &:extend(.block all);
        &:extend(.block-text-overlay all);        
        &:extend(.card all); 
        padding: 0;
        background: @green-dark-1;
        .square(220px) !important;

        &.active{
            .icon-toggle {
                transform: rotate(45deg)
            }
        }
    }
    &.card-round{
        .card-base{
            &:extend(.card-circle all);
        }
    }
    .card-info-row{
        .desc{
            &-blurb, 
            &-title{
                color: @black;
            }
        }
    }
}

@media @mq-only-mobile{
    .team-row{
        .text-center;
    }
    .team-card{
        display: inline-block;
        float: none;
    }
    .team-desc-row,
    .team-card{
        .text-left;
    }
    .team-page{
        .card-info-row{
            .list-bullet{ 
                li{
                    padding: 0;
                    &:before{
                        display: none !important;
                    }
                }
            }
        }
    }
}
