// icons
// --------

.icon{
    &-team{
        &:before{
            .fa;      
            content: @fa-var-plus-circle;
        }
    }
    &-mail{
        &:before{
            .fa;      
            content: @fa-var-envelope;
        }
    }
    &-fb{        
        &:before{
            .fa;      
            content: @fa-var-facebook-f;
            vertical-align: middle;
        }
    }
    &-twitter{
        &:before{
            .fa;      
            content: @fa-var-twitter;
        }
    }
    &-instagram{
        &:before{
            .fa;      
            content: @fa-var-instagram;
        }
    }
    &-linkedin{
        &:before{
            .fa;      
            content: @fa-var-linkedin;
        }
    }
    &-youtube{
        &:before{
            .fa;      
            content: @fa-var-youtube-play;
        }
    }
    &-google-plus{
        &:before{
            .fa;      
            content: @fa-var-google-plus;
        }
    }
    &-burger{
        &:before{
            .fa;
            content: @fa-var-reorder;
        }
    }
    &-chevron-down{
        &:before{  
            .fa;          
            content: @fa-var-chevron-down;            
        }
    }
    &-chevron-up{
        &:before{  
            .fa;          
            content: @fa-var-chevron-up;            
        }
    }
    &.icon-next{
        &:before{    
            .ico;        
            content: @icon-arr-right;            
        }
    }
    &.icon-prev{
        &:before{  
            .ico;          
            content: @icon-arr-left;            
        }
    }
    &.icon-phone{
        &:before{  
            .fa;          
            content: @fa-var-phone;            
        }
    }
    &-arrow-up{
        &:before{  
            .fa;          
            content: @fa-var-arrow-up;            
        }
    }
    &-toggle{
        font-size: 36px;
        line-height: 0.5;
        position: absolute;
        bottom: @space;
        right: @space;
        z-index: 1;
        color: @white;        
        .transition(all ease-out 0.15s);
        .text-center;
        vertical-align: middle;
        display: inline-block;
        .square(25px);
        transform-origin: 50% 50%;

        &.active{
            .icon-toggle {
                transform: rotate(45deg)
            }
        }
    }
}

.icon-hamburger{
    top: 7px;
    .pull-right;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    .square(40px);
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    .border-radius(none);
    border: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
    span {
        display: block;
        position: absolute;
        top: 18px;
        left: 5px;
        right: 5px;
        height: 4px;
        background: @green-dark-1;
        .transition(background @transition-short);
        &:after, &:before {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: @green-dark-1;
            content: "";
        }
        &:before {
            top: -10px;
        }
        &:after {
            bottom: -10px;
        }
    }
    &.icon-hamburger-mobile {
        background-color: @white;
        span {
            .transition(background 0s @transition-short);
            &:before,&:after {
                transition-duration: @transition-short, @transition-short;
                transition-delay: @transition-short, 0s;
            }
            &:before {
                transition-property: top, transform;
            }
            &:after {
                transition-property: bottom, transform;
            }
        }
        &.active {
            span {
                background: none;
                &:before {
                    top: 0;
                    transform: rotate(45deg);
                }
                &:after {
                    bottom: 0;
                    transform: rotate(-45deg);
                }
                &:before, &:after{
                    transition-delay: 0s, @transition-short;
                    background-color: darken(@green-dark-1,10%);
                }
            }
        }
    }

}