// icons
// --------

.icon{
    &-team{
        &:before{
            .fa;      
            content: @fa-var-plus-circle;
        }
    }
    &-mail{
        &:before{
            .fa;      
            content: @fa-var-envelope;
        }
    }
    &-fb{        
        &:before{
            .fa;      
            content: @fa-var-facebook-f;
            vertical-align: middle;
        }
    }
    &-twitter{
        &:before{
            .fa;      
            content: @fa-var-twitter;
        }
    }
    &-instagram{
        &:before{
            .fa;      
            content: @fa-var-instagram;
        }
    }
    &-linkedin{
        &:before{
            .fa;      
            content: @fa-var-linkedin;
        }
    }
    &-youtube{
        &:before{
            .fa;      
            content: @fa-var-youtube-play;
        }
    }
    &-google-plus{
        &:before{
            .fa;      
            content: @fa-var-google-plus;
        }
    }
    &-burger{
        &:before{
            .fa;
            content: @fa-var-reorder;
        }
    }
    &-chevron-down{
        &:before{  
            .fa;          
            content: @fa-var-chevron-down;            
        }
    }
    &-chevron-up{
        &:before{  
            .fa;          
            content: @fa-var-chevron-up;            
        }
    }
    &.icon-next{
        &:before{    
            .ico;        
            content: @icon-arr-right;            
        }
    }
    &.icon-prev{
        &:before{  
            .ico;          
            content: @icon-arr-left;            
        }
    }
    &.icon-phone{
        &:before{  
            .fa;          
            content: @fa-var-phone;            
        }
    }
    &-arrow-up{
        &:before{  
            .fa;          
            content: @fa-var-arrow-up;            
        }
    }
    &-toggle{
        font-size: 36px;
        line-height: 0.5;
        position: absolute;
        bottom: @space;
        right: @space;
        z-index: 1;
        color: @white;        
        .transition(all ease-out 0.15s);
        .text-center;
        vertical-align: middle;
        display: inline-block;
        .square(25px);
        transform-origin: 50% 50%;

        &.active{
            .icon-toggle {
                transform: rotate(45deg)
            }
        }
    }

}