//
// Molecule / Selectbox
// ----------------------

.dev-select{

    .selectboxit{
        background: #24282c;
        color: @white;
        border: 1px solid #606467;
        width: 270px !important;
        .border-radius(0px);
        .selectboxit-arrow-container{
            .selectboxit-arrow{
                border: 0;
                top: 0px;
                right: 0;  
                left: -10px;
                line-height: 40px;
                &:before{  
                    .fa;          
                    content: @fa-var-chevron-down;            
                }
            }
        }
        &.dropup{
            .selectboxit-arrow-container{
                .selectboxit-arrow{
                    &:before{  
                        .fa;          
                        content: @fa-var-chevron-up;            
                    }
                }
            }
        }
        &.selectboxit-btn{
            &.selectboxit-enabled{
                &:hover, 
                    &:focus{
                    background: #24282c;
                    color: @white;
                    border: 1px solid #606467;
                } 
            }
        }
    }
    .selectboxit-container{
        span, .selectboxit-options a{
            height: 40px;
            line-height: 40px;
        }
        .selectboxit-options{
            width: 100%;
        }
    }
    span.selectboxit-text{
        font-size: 20px;
        max-width: 90% !important;
    }
    .selectboxit-list{
        background: #24282c;
        color: @white;
        border-radius: 0;
        border: 1px solid #606467;
        > .selectboxit-focus{
            > .selectboxit-option-anchor{
                color: @white;
                background-image: none;
                background-color: @green-dark-1;
            }
        }
    }
    .selectboxit-container{
        *{
            .font-primary-light;
            color: @white;
        }
    }
    .selectboxit-option-first {
        border-radius: 0;
    }
    .selectboxit-options{
        /*display: block !important;*/
        border-top: 0;
    } 
}
